<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scalable=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title> Сайт блог</title>
    <link rel="stylesheet" href="/static/css/Style.css">
</head>
<body>
    <a href="/index/">Главная</a>
    <a href="/blog/"> Блог</a>
    <a href="/about/"> Контакты</a>
    <h1>
        {{ hello }}
    </h1>
    <div class="float-lg-start"><img src="/static/img/photo.png" class="rounded-circle" class="rounder-3"></div><br>
    <div class="container">
    <row col-12>
        <p> Я ученик курса <a href="https://code.s3.yandex.net/backend-developer/conspects/py01.pdf" target="_blank">Python</a> <a href="https://gb.ru/events/533" target="_blank">в онлайн университете</a> <a href="https://geekbrains.ru" target="_blank">GeekBrains</a></p>
        <p><a href="https://gb.ru/geek_university/python?utm_source=yandex.ru&utm_medium=cpc&utm_campaign=yandex_s_rus_programmist_python_main_lp_geek_university_python_prog&utm_content=cid:60344794|gid:4521713524|aid:10554174832|pt:premium|pos:2|st:search|src:none|dvc:desktop|reg:54|adph:no|apt:none|ret:|dsa:32321748316&utm_term=python&yclid=4365379012682361082" target="_blank">Почему именно Python?</a></p>
        <p><a href="https://pythonru.com/baza-znanij/naskolko-slozhno-uchit-python" target="_blank">Python, пожалуй, самый дружелубный язык.</a><br>
        <a href="https://pythonru.com/biblioteki" target="_blank">У него простой синтаксис и огромное количество готовых библиотек.</a>
        </row>
        </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
    <hr>
    <p>Все права защищены &copy;</p>